<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="{$basePath}/bower_components/Materialize/dist/css/materialize.min.css" media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="{$basePath}/css/style.css"  media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{ifset title}{include title|striptags}{/ifset}</title>
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	</head>

	<body>
		<nav>
			{php $developerMode=false; }
			<div class="nav-wrapper">
				<a href="#!" class="brand-logo {$pageColor}">{$pageName}</a>
				{* <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> *}
				<a href="#" data-activates="mobile-demo" class="button-collapse"><img n:if="$pageIcon" src="{$basePath}/{$pageIcon}"></a>
				<ul class="right hide-on-med-and-down">
					<li><a href="{plink Inventory:search}">Inventura</a></li>
					<li><a href="{plink InventoryByPlace:search}">Inventura dílčí</a></li>
					<li><a href="{plink InventoryPlace:search}">Inventura + přemístění</a></li>
					<li><a href="{plink Detail:search}">Detail</a></li>
					<li><a href="{plink Deliver:search}">Vyskladnění</a></li>
					<li><a href="{plink OrderRequest:search}">Požadavek skladu</a></li>
					<li n:if="$developerMode"><a href="{plink Store:search}">Naskladnění položky</a></li>
					<li><a href="{plink StoreByOrder:search}">Naskladnění objednávky</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li class="white center spacing"><a href="#">FUNKCE</a></li>
					<li class="blue lighten-2"><a href="{plink Inventory:search}"><img src="{$basePath}/img/inventory.png">Inventura</a></li>
					<li class="blue lighten-4"><a href="{plink InventoryByPlace:search}"><img src="{$basePath}/img/inventory.png">Inventura dílčí</a></li>
					<li class="blue lighten-5"><a href="{plink InventoryPlace:search}"><img src="{$basePath}/img/inventory-move.png">Inventura + přemístění</a></li>
					<li class="yellow darken-3"><a href="{plink Detail:search}"><img src="{$basePath}/img/detail.png">Detail</a></li>
					<li class="red"><a href="{plink Deliver:search}"><img src="{$basePath}/img/storeout.png">Vyskladnění</a></li>
					<li class="purple lighten-2"><a href="{plink OrderRequest:search}"><img src="{$basePath}/img/request.png">Požadavek skladu</a></li>
					<li class="green lighten-4" n:if="$developerMode"><a href="{plink Store:search}"><img src="{$basePath}/img/storein.png">Naskladnění položky</a></li>
					<li class="green lighten-2"><a href="{plink StoreByOrder:search}"><img src="{$basePath}/img/storein-order.png">Naskladnění objednávky</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			{include content}
		</div>
		<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
					<script type="text/javascript" src="{$basePath}/bower_components/jquery/dist/jquery.min.js"></script>
					<script type="text/javascript" src="{$basePath}/bower_components/Materialize/dist/js/materialize.min.js"></script>
		<script>
			jQuery(function(){
			  jQuery('.button-collapse').sideNav({
			  		menuWidth: 330
					}
				);
				jQuery( '.brand-logo' ).click(function() {
					jQuery( '.button-collapse' ).click();
				});
				{foreach $flashes as $flash}
					Materialize.toast({$flash->message});
				{/foreach}
			})
		</script>
		{block scripts}
		{/block}
	</body>
</html>
