<div class="row text-center">
	<div class="request" n:if="isset($barcodeForRequestButton)">
		<a class="purple lighten-1 btn request" href="{plink OrderRequest:action, $barcodeForRequestButton}">
			<img src="{$basePath}/img/request.png">
			Nový požadavek
		</a>
	</div>
	{php $fAmount = preg_replace("/[^-0-9\.]/",".",$quantity);}
	{php $fOrdered = preg_replace("/[^-0-9\.]/",".",$ordered);}
	{php $fDemanded = preg_replace("/[^-0-9\.]/",".",$demanded);}
	{php $fLimit = preg_replace("/[^-0-9\.]/",".",$limit);}
	<div class="col s3">
		<h2 n:class="($fAmount + $fOrdered + $fDemanded) < $fLimit ? red-font">
			{$quantity}</h2>
		<em>skladem</em>
	</div>

	<div class="col s3">
		<h2>{$ordered}</h2>
		<em>objednáno</em>
	</div>

	<div class="col s3">
		<h2>{$demanded}</h2>
		<em>žádáno</em>
	</div>

	<div class="col s3">
		<h2 n:class="($fAmount + $fOrdered + $fDemanded) < $fLimit ? red-font">
			{$limit}</h2>
		<em>spodní limit</em>
	</div>
</div>