{block title}
Inventura dílčí
{/block}
{block content}

<h1>{$itemInfo["code"]|upper} - {$itemInfo["name"]}</h1>

<em>umístění: {$itemInfo["place"]}</em>

{include '../ItemDetailTable.latte',
						quantity => $itemInfo["quantity"],
						limit => $itemInfo['low_limit'],
						ordered => $itemInfo["quantity_ordered"],
						demanded => $itemInfo["quantity_demanded"] }

{form inventoryForm}
{input barcode}
<div class="input-field">
	{input amount, value=>$itemInfo["quantity"]}
 <button class="btn waves-effect waves-light" type="submit" name="_submit">Nastav sklad
    <i class="material-icons right">send</i>
  </button>
{/form}

{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-inventoryForm-amount").focus();
  $("#frm-inventoryForm-amount").select();
})
</script>

