{block title}
Inventura dílčí
{/block}
{block content}

{form placeForm}
<div class="input-field">
	<h3>Vyhledávání podle:</h3>
	<em>
		<ul>
			<li>- kódu <b>umístění</b></li>
			<li>- kódu <b>normy kompletace</b></li>
		</ul>
	</em>	
  {input placecode}
</div>
<div class="input-field">
	  <button name="_submit" type="submit" class="btn waves-effect waves-light">
		Vyhledat
	</button>
</div>
{/form}


{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-placeForm-placecode").focus();
})
</script>


