{block title}
Detail
{/block}
{block content}

<h1>{$itemInfo["code"]|upper} - {$itemInfo["name"]}</h1>

<em>umístění: {$itemInfo["place"]}</em>
<br/><em>ext. číslo dodavatele: {$itemInfo["main_supplier"]}</em>

{include '../ItemDetailTable.latte',
						quantity => $itemInfo["quantity"],
						limit => $itemInfo['low_limit'],
						ordered => $itemInfo["quantity_ordered"],
						demanded => $itemInfo["quantity_demanded"],
						barcodeForRequestButton => $itemInfo["code"]}

{form searchForm}
<div class="input-field">
	{input barcode}
</div>
<div class="input-field">
	  <button name="_submit" type="submit" class="btn waves-effect waves-light">
		Vyhledat
	</button>
</div>
{/form}

{/block}

{block scripts}
<script>
jQuery(function(){
	$("#frm-searchForm-barcode").focus();
})
</script>


