{block title}
Inventura + přemístění
{/block}
{block content}

{form placeForm}
<div class="input-field">
	{input placecode}
	{input barcode}
</div>
<div class="input-field">
	  <button name="_submit" type="submit" class="btn waves-effect waves-light">
		Vyhledat umístění
	</button>
</div>
{/form}


{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-placeForm-placecode").focus();
})
</script>


