{block title}
Vyskladnění
{/block}
{block content}

<h1>{$itemInfo["code"]|upper} - {$itemInfo["name"]}</h1>

<em>umístění: {$itemInfo["place"]}</em>

{include '../ItemDetailTable.latte',
						quantity => $itemInfo["quantity"],
						limit => $itemInfo['low_limit'],
						ordered => $itemInfo["quantity_ordered"],
						demanded => $itemInfo["quantity_demanded"] }

{php $fAmount = (float)preg_replace("/[^-0-9\.]/",".",$itemInfo["quantity"]);}
{if $fAmount > 0}
	{form inventoryForm}
	{input barcode}
	<div class="input-field">
		{input amount}
	 <button class="btn waves-effect waves-light" type="submit" name="_submit">Vyskladnit
	    <i class="material-icons right">send</i>
	  </button>
	{/form}
{else}
	<h2><center>nedostatek skladových zásob</center></h2>
{/if}

{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-inventoryForm-amount").focus();
})
</script>


