{block title}
Naskladnění objednávky
{/block}
{block content}

<h1>{$itemInfo["name"]}</h1>

<em>umístění: {$itemInfo["place"]}</em>

<div class="row">
	<div class="col s4"><h2>{$itemInfo["quantity"]}</h2> <em>ks skladem</em></div>
	<div class="col s4"><h2>{$itemInfo["quantity_ordered"]}</h2> <em>ks objednávek</em></div>
	<div class="col s4"><h2>{$itemInfo["quantity_demanded"]}</h2> <em>ks zažádaných</em></div>
</div>

{form inventoryForm}
{input barcode}
<div class="input-field">
	{input amount}
 <button class="btn waves-effect waves-light" type="submit" name="_submit">Naskladnit
    <i class="material-icons right">send</i>
  </button>
{/form}

{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-inventoryForm-amount").focus();
})
</script>


