{block title}
Naskladnění objednávky
{/block}
{block content}

{form yesNoDescriptionForm}
<div class="input-field">
	<h3>Popis objednávky:</h3>
	<h2>
		{$description}
	</h2>

	<br/><hr>
	Má se začít s naskladňováním objednávky??
	<em>
		<ul>
			<li>- <b>ANO</b> - <b>začít</b> s naskladněním, zapište číslo <b>1</b></li>
			<li>- <b>NE</b> - <b>zpět</b> na vyhledání, zapište číslo <b>0</b></li>
		</ul>
	</em>

	{input answer "value"=>1}
</div>
<div class="input-field">
	  <button name="_submit" type="submit" class="btn waves-effect waves-light">
		Potvrdit
	</button>
</div>
{/form}


{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-yesNoDescriptionForm-answer").focus();
	$("#frm-yesNoDescriptionForm-answer").select();
})
</script>


