{block title}
Naskladnění objednávky
{/block}
{block content}

{form orderPrefixForm}
<div class="input-field">
	<h3>Výběr řady objednávek:</h3>
	<em>
		<ul>
			<li>- řada <b>OV1</b>-{$ordercode}/{$year} zapište číslo <b>1</b></li>
			<li>- řada <b>OV2</b>-{$ordercode}/{$year} zapište číslo <b>2</b></li>
		</ul>
	</em>
	{input orderprefix}
	{input ordercode}
</div>
<div class="input-field">
	  <button name="_submit" type="submit" class="btn waves-effect waves-light">
		Zvolit řadu
	</button>
</div>
{/form}


{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-orderPrefixForm-orderprefix").focus();
})
</script>


