{block title}
Naskladnění objednávky
{/block}
{block content}

<h1>{$barcode} - {$itemname}</h1>
<h2>Tato položka nemá nastavené skladové místo.
<br>Je třeba zadat umístění.</h2>

{form placeForm}
<div class="input-field">
	{input placecode}
	{input barcode}
</div>
<div class="input-field">
	  <button name="_submit" type="submit" class="btn waves-effect waves-light">
		Vyhledat umístění
	</button>
</div>
{/form}


{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-placeForm-placecode").focus();
})
</script>


