{block title}
Naskladnění objednávky
{/block}
{block content}

{form orderYearForm}
<div class="input-field">
	<h3>Zadání roku objednávky:</h3>
	{input orderyear, "value"=>date("Y")}
	{input ordercode}
</div>
<div class="input-field">
	  <button name="_submit" type="submit" class="btn waves-effect waves-light">
		Zvolit rok
	</button>
</div>
{/form}


{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-orderYearForm-orderyear").focus();
	$("#frm-orderYearForm-orderyear").select();
})
</script>


