{block title}
Naskladnění objednávky
{/block}
{block content}

<h1>{$orderItemInfo["code"]} - {$orderItemInfo["name"]}</h1>

{* <em>Objednávka pro sklad: {$orderItemInfo["store"]}</em> *}
{if $newplacelabel}
  <em>aktuální umístění: {$orderItemInfo["place"]}</em>
  <br><em><b>nové umístění: {$newplacelabel}</b></em>
{else}
  <em>umístění: {$orderItemInfo["place"]}</em>
{/if}

{include '../ItemDetailTable.latte',
						quantity => $storeItemInfo["quantity"],
						limit => $storeItemInfo['low_limit'],
						ordered => $storeItemInfo["quantity_ordered"],
						demanded => $storeItemInfo["quantity_demanded"] }

{if $orderItemInfo["noteForStore"] !== ''}
  <hr>
  <h2>Poznámka pro příjem:</h2>
  <em style="color: red">{$orderItemInfo["noteForStore"]}</em>
{/if}

{form inventoryForm}
{input barcode}
<div class="input-field">
	{input amount "value"=>$orderItemInfo["quantityFreeToDeliver"]}
	{input orderitemid "value"=>$orderItemInfo["id"]}
 <button class="btn waves-effect waves-light" type="submit" name="_submit">Naskladnit
    <i class="material-icons right">send</i>
  </button>
{/form}

{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-inventoryForm-amount").focus();
	$("#frm-inventoryForm-amount").select();
})
</script>
