{block title}
Naskladnění objednávky
{/block}
{block content}

{form searchOrderForm}
<div class="input-field">
	{input ordercode}
</div>
<div class="input-field">
	  <button name="_submit" type="submit" class="btn waves-effect waves-light">
		Vyhledat objednávku
	</button>
</div>
{/form}


{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-searchOrderForm-ordercode").focus();
})
</script>


