{block title}
Naskladnění objednávky
{/block}
{block content}

{form yesNoForm}
<div class="input-field">
	<h3>Objednávka obsahuje textové položky, které nebudou zpracované:</h3>
	<em>
		<ul>
			{foreach $textOrders as $order}
				<li>- {$order["string"]}</li>
			{/foreach}
		</ul>
	</em>

	<hr>
	<em>
		<ul>
			<li>- označit za <b>Vyřízenou</b>, zapište číslo <b>1</b></li>
			<li>- nechat <b>Otevřenou</b>, zapište číslo <b>0</b></li>
		</ul>
	</em>

	{input answer "value"=>1}
</div>
<div class="input-field">
	  <button name="_submit" type="submit" class="btn waves-effect waves-light">
		Potvrdit
	</button>
</div>
{/form}


{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-yesNoForm-answer").focus();
	$("#frm-yesNoForm-answer").select();
})
</script>


