{block title}
Vyskladnění
{/block}
{block content}

{if isset($itemInfo)}
	{include '../ItemSmallDetailTable.latte',
							name => $itemInfo["name"],
							place => $itemInfo['place'],
							quantity => $itemInfo["quantity"]}
{/if}

{form searchForm}
<div class="input-field">
	{input barcode}
</div>
<div class="input-field">
	  <button name="_submit" type="submit" class="btn waves-effect waves-light">
		Vyhledat
	</button>
</div>
{/form}


{/block}
{block scripts}
<script>
jQuery(function(){
	$("#frm-searchForm-barcode").focus();
})
</script>


