.red-font { color: red; }
.green-font { color: green; }
.text-center { text-align: center; }
.spacing { letter-spacing: 4px; }

nav {
	background-color: #323232;
}

nav .brand-logo {
  font-size: 1.7rem;
}

h1 {
	font-size: x-large;
}

h1 {
    margin: 1rem 0 1.68rem;
}

h2 {
	margin: 1.4rem 0 0.4rem;
}

h2, h3 {
    font-size: large;
}

.row {
    margin-bottom: 12px;
}

.row .col {
    padding: 0;
}

.input-field {
    margin-top: 0;
}

input[type="text"] {
    font-size: 19px;
}

.btn {
    width: 100%;
    height: 65px;
    line-height: 65px;
}

input {
	text-align: center;
	font-weight: bold;;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

nav ul {
	position: relative;
	background-color: black !important;
}

nav .brand-logo {
    padding-left: 55px;
    /*text-align: center;*/
    width: 100%;
}

.side-nav li {
    padding: 0 5px 0 0;
}

.side-nav a {
    font-size: 1.6rem;
    height: 56px;
    line-height: 56px;
}

.nav-wrapper .brand-logo>img,
.side-nav a>img,
a.button-collapse>img {
    width: 40px;
    height: 40px;
    opacity: 0.85;
}

a.button-collapse>img:hover {
    opacity: 1.0;
}

.side-nav a>img {
    opacity: 0.6;
    float: right;
}

.nav-wrapper .brand-logo>img {
    float: left;
    margin-top: 8px;
}

.side-nav a>img,
a.button-collapse>img {
    margin-top: 8px;
    margin-left: 6px;
}

.btn>img {
    float: right;
    height: 20px;
    margin-top: 6px;
    opacity: 0.7;
    width: 20px;
}

a.request {
    height: 32px;
    line-height: 32px;
    padding: 0 6px;
    width: 170px;
    position: absolute;
    right: 0;
    top: 12px;
}

div.request {
    float: right;
    margin-top: -56px;
    margin-bottom: -7px;
}

// ---------------------------------------------------------------

@media only screen { }

@media only screen and (max-width : 992px) {
	.nav-wrapper .brand-logo>img {
		float: right;
	}
}